// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  background-color: #C6D8FF;
  padding: 10px;
  margin: 4px;
}

.answer {
  background-color: #C6D8FF;
  padding: 10px;
  margin: 4px;
}
